a2a-sdk
autogen-agentchat
autogen-ext
autogenstudio
azure-ai-documentintelligence
azure-ai-inference
azure-search-documents
docx-mailmerge2
fastmcp
markitdown
mermaidmd2pdf
openpyxl
pandas
pdflatex
python-pptx
semantic-kernel
